
/*Font link*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

/*TITLE*/
h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
    font-size: 80px;
}

/* Navbar */
.navbar {
    text-align: center;
    z-index: 999;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 25px;
    /* sticky nav bar - remove? */
    position: -webkit-sticky; /* sticky navbar */
    position: sticky;
    top: 0;
    background-color: white;
}

li {
    display: inline;
}

a {
    color: black;
    display: horizontal;
    padding: 8px;
}

a:hover {
      color: pink;
}
  /*Social media buttons*/
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  float: center;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: pink;
  color: white;
}

.fa-twitter {
  background: pink;
  color: white;
}
.fa-instagram {
  background: pink;
  color: white;
}

/*footer*/
h6 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  margin-top: 2px;
  font-size: 15px;
  margin-bottom: 15px;
}
