
/*Font link*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');

/*TITLE*/
h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
    font-size: 80px;
}

/* Navbar */
.topnav {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    /* sticky nav bar - remove? */
    position: -webkit-sticky; /* sticky navbar */
    position: sticky;
    top: 0;
    background-color: white;
}
li {
    display: inline;
}
a {
    color: black;
    display: horizontal;
    padding: 8px;
}
a:hover {
    color: pink;
}

  /* Search bar */
.topnav input[type=text] {
    float: right;
    border: none;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
.topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
}
    
.topnav input[type=text] {
      border: 1px solid #ccc;  
}

    /* social media buttons in footer */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.flex-container > div {
    background-color: white;
    margin: 10px;
    padding: 10px;
}
  
.fa {
    padding: 20px;
    font-size: 30px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    float: center;
    border-radius: 50%;
}
  
.fa:hover {
      opacity: 0.7;
}
.fa-facebook {
    background: pink;
    color: white;
}
  
.fa-twitter {
    background: pink;
    color: white;
}
.fa-instagram {
    background: pink;
    color: white;
h6 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 2px;
    font-size: 15px;
    margin-bottom: 15px;
}