
/*Font link*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin-top: 15px;
    font-size: 80px;
}
.topnav {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    /* This section prev used for sticky nav bar - remove? */
    position: -webkit-sticky; /* sticky navbar */
    position: sticky;
    top: 0;
    background-color: white;
}
li {
    display: inline;
}
a {
    color: black;
    display: horizontal;
    padding: 8px;
}
a:hover {
    color: pink;
}
  /* Search bar */
.topnav input[type=text] {
    float: right;
    border: none;
    font-size: 20px;
}
@media screen and (max-width: 600px) {
.topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
  }
    
.topnav input[type=text] {
      border: 1px solid #ccc;  
  }